@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html{
  font-size: 32px;
  background-color: rgb(235, 235, 235);
  }
  .clearfix {
    content: '';
    display: table;
    clear: both;
  }
}